@mixin media-max-width($max-width: 768px) {
    @media screen and (max-width: $max-width) {
        @content;
    }
}

@mixin hamburger-line {
    background-color: white;
    width: 2rem;
    height: 2px;
}