@import "../global/mixin.module";

.home-page-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;

    .contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        gap: 2svh;
    }
}

@include media-max-width() {
    .home-page-container {
        gap: 2vh;

        .contents {
            gap: 0;
        }
    }
}