@import "../global/mixin.module";

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-padding-top: 1vh;
    padding: 2vh var(--main-lg-window-x-axis-padding);
    gap: 2vh;
    gap: 2svh;
}

@include media-max-width() {
    .main {
        padding: 2vh var(--main-sm-window-x-axis-padding);
    }
}