@import "../global/mixin.module";

.skills-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    justify-items: center;
    column-gap: 2vw;
    row-gap: 3vh;
    padding: 0 5vw;
}

@include media-max-width() {
    .skills-container {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
}