@import "../global/mixin.module";

$svg-proportions: 60%;

.skill-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    min-width: 30px;

    border-radius: 15px;
    background: linear-gradient(145deg, #1d1e2d, #25293d);
    box-shadow: 20px 20px 25px #1e2030,
        -20px -20px 25px #282c42;

    aspect-ratio: 1;

    .title {
        font-size: clamp(1rem, 1.5vw, 3rem);
        color: var(--secondary-grey-color);
    }

    .skill {
        width: $svg-proportions;
        height: $svg-proportions;
        border-radius: 20px;
        padding: 0.2rem;
        fill: var(--primary-color);
    }
}

@include media-max-width() {
    .skill-wrapper {
        .title {
            font-size: clamp(0.7rem, 3vw, 1.5rem);
        }
    }
}