@import "../global/mixin.module";

.skills-container {
    width: 100%;
    min-height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    align-items: center;
    column-gap: 2vw;
    row-gap: 3vh;
    padding: 0px 10vw;
}

@include media-max-width() {
    .skills-container {
        width: initial;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
}