@import "../global/mixin.module";

.form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 5vw;
    gap: 1vw;

    >div {
        &:last-child {
            grid-column: 1/-1;
        }
    }

}

@include media-max-width() {
    .form {
        grid-template-columns: 1fr;
    }
}