:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --primary-color: #ED4755;
  --secondary-grey-color: #676977;
  --secondary-black-color: #232639;
  font-size: 100%;
}

@font-face {
  font-family: VSCODE;
  src: url("../files//fonts/Cascadia.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  width: 100svw;
  height: 100vh;
  height: 100svh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: white;
  background: var(--secondary-black-color);
  background-image: url("../files/images/smoky-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}