.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 4vw;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.nav-list {
  display: flex;
  gap: 5vw;
}

.nav-link {
  height: fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 5px 0px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  width: 0%;
  bottom: 0px;
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
}

.nav-link:hover::before {
  width: 100%;
}

@keyframes navHoverUnderline {
  from {
    width: 0%;
  }

  to {
    width: 80%;
  }
}