@import "../styles/global/mixin.module";

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}