@import "../global/mixin.module";

$hamburger-transition-specs: all 325ms ease-in-out;

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;

    .nav-list {
        display: flex;
        gap: 5vw;

        .nav-link {
            width: fit-content;
            font-weight: bold;
            font-size: clamp(1rem, 1.5vw + 0.5rem, 2rem);
            text-transform: uppercase;
            text-decoration: none;
            color: var(--primary-color);
            padding: 5px 0px;
            display: inline-block;
            position: relative;
            opacity: 0.75;
            list-style-type: none;

            &:hover {
                opacity: 1;
            }

            &::before {
                width: 0%;
                bottom: 0px;
                transition: 300ms;
                height: 2px;
                content: "";
                position: absolute;
                background-color: var(--primary-color);
            }

            &:hover::before {
                width: 100%;
            }
        }
    }
}

@include media-max-width() {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100svw;
        position: sticky;
        top: 0;
        z-index: 5;
        background-color: var(--secondary-black-color);
        background-image: url("../../files/images/smoky-background.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: color-dodge;
        box-shadow: 0px 1px 10px var(--secondary-black-color);
        padding: 1vh 0 1vh 3vw;

        .nav-list {
            transform: translateX(calc(-100% - var(--main-sm-window-x-axis-padding)));
            top: 0;
            width: 100%;
            height: 100svh;
            background-color: #25293d;
            position: fixed;
            transition: $hamburger-transition-specs;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10vh;
            visibility: hidden;
            z-index: 4;
        }

        .checkbox:checked~.nav-list {
            transform: translateX(calc(-1 * var(--main-sm-window-x-axis-padding)));
            visibility: visible;
        }

        .checkbox-label {
            width: fit-content;
            height: fit-content;
            min-height: 25px;
            padding: 2vh 4vw 2vh 0.5vw;
            align-self: flex-start;
            cursor: pointer;
            z-index: 5;


            .hamburger {
                position: relative;
                @include hamburger-line();
                transition: $hamburger-transition-specs;

                &::after {
                    position: absolute;
                    top: -8px;
                    @include hamburger-line();
                    content: "";
                    transition: $hamburger-transition-specs;
                }

                &::before {
                    position: absolute;
                    top: 8px;
                    @include hamburger-line();
                    content: "";
                    transition: $hamburger-transition-specs;
                }
            }

        }

        .checkbox:checked~.checkbox-label>.hamburger {
            background-color: transparent;
        }

        .checkbox:checked~.checkbox-label>.hamburger::after {
            top: 0;
            transform: rotate(-45deg);
        }

        .checkbox:checked~.checkbox-label>.hamburger::before {
            top: 0;
            transform: rotate(45deg);
        }


    }
}